<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width" initial-scale="1.0">
	<meta name="description"
		content="Foodify is an information website about the most popular and most visited restaurants, you can see the address along with the restaurant's visitor rating.">
	<meta name="theme-color" content="#DB0000" />
	<link rel="icon" href="./favicon.png">
	<link rel="manifest" href="./app.webmanifest">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">

	<script src="https://kit.fontawesome.com/f678a43a1d.js" crossorigin="anonymous"></script>
	<title>Foodify | Explore Your Favorite Restaurants</title>
</head>

<body>
	<a href="#maincontent" class="skip-link">Menuju ke konten</a>
	<header>
		<button id="hamburger" aria-label="Open and close navigation ">☰</button>
		<h1 class="header_title">Foodify</h1>

		<nav id="drawer">
			<ul class="nav_list">
				<li class="nav_item"><a href="#/home">Home</a></li>
				<li class="nav_item"><a href="#/favorite">Favorite</a></li>
				<li class="nav_item"><a href="https://blog.sincandev.me" target="_blank" rel="noreferrer">About Us</a>
				</li>
			</ul>
		</nav>
	</header>
	<div class="hero" id="hero">
		<img id="hero-image" src="./heros/hero-image.jpg" alt="">
	</div>
	<main id="maincontent">

	</main>
	<footer>
		<p>Copyright © 2022 - Foodify</p>
	</footer>
</body>

</html>