$primary: #195a00;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  background-color: #f7f8fd;
  color: #333333;
}

.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  padding: 12px 14px;
  background-color: #0077ff;
  font-weight: 500;
  color: white;
  z-index: 100;
  border-radius: 6px;

  &:focus {
    top: 10px;
    left: 10px;
  }
}

header {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #f7f8fd;
  z-index: 50;

  #hamburger {
    background-color: #e5e9f2;
    padding: 4px 10px;
    width: 44px;
    height: 44px;
    padding-bottom: 6px;
    border-radius: 8px;
    border: none;
    font-size: 22px;
    font-weight: 600;
    color: #333333;
  }

  .header_title {
    margin-left: 16px;
    color: rgb(44, 44, 44);
  }

  nav {
    position: absolute;
    z-index: 60;
    top: 90px;
    border-radius: 10px;
    background-color: #fff;
    border: 3px solid #0077ffc1;
    padding: 10px 18px;
    width: 160px;
    font-size: 16px;
    box-shadow: 0 8px 63px 35px rgba(110, 110, 110, 0.1);

    transform: translate(-370px, 0);
    transition: transform 0.3s ease-in-out;

    .nav_list {
      width: 100%;
      list-style-type: none;
      padding: 0;

      .nav_item {
        text-transform: uppercase;

        a {
          display: flex;
          justify-content: start;
          align-items: center;
          text-decoration: none;
          color: #333333;
          height: 44px;
        }
      }
    }
  }

  .open {
    transform: translate(0, 0);
  }
}

.hero {
  width: 100%;
  padding-top: 80px;

  img {
    width: 100%;
    border-radius: 0 0 16px 16px;
  }
}

main {
  width: 100%;

  .main_title {
    padding: 0 20px;
    margin-top: 26px;
    font-size: 16px;
    font-weight: 500;

    p {
      font-size: 16px;
      color: #0078ff;
      font-weight: 500;
    }
  }

  .content {
    padding: 0 20px;

    .restaurant {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px 0;

      .restaurant_name {
        font-size: 24px;
        color: #0078ff;
      }

      .restaurant_info {
        display: flex;
        margin-top: 10px;

        .city {
          font-weight: 600;
          background-color: #f7f8fd;
          border: 1px solid gainsboro;
          font-size: 14px;
          border-radius: 30px;
          padding: 8px 16px;
          margin-right: 6px;
        }

        .rating {
          font-weight: 600;
          background-color: #f7f8fd;
          border: 1px solid gainsboro;
          font-size: 14px;
          border-radius: 30px;
          padding: 8px 16px;
        }
      }

      .restaurant_detail {
        margin-top: 18px;
        background-color: #0077ff;
        color: white;
        padding: 20px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: normal;

        .address {
          font-weight: 600;
          margin-bottom: 10px;
          font-size: 18px;
        }

        .category {
          list-style: none;
          display: flex;
          font-weight: 600;
          font-size: 18px;

          .category_item {
            margin-right: 6px;

            &:last-child {
              margin-left: 6px;
            }
          }
        }
      }

      .restaurant_menus {
        margin-top: 18px;
        background-color: #0077ff;
        color: #fff;
        padding: 20px 40px;
        border-radius: 10px;
        font-size: 18px;

        h3 {
          text-align: center;
        }

        .menus_container {
          display: block;

          h4 {
            font-weight: 600;

            &:last-child {
              margin-top: 20px;
            }
          }

          ul {
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 2px solid #fff;

            li {
              padding-bottom: 5px;
            }
          }
        }
      }

      .restaurant_description {
        margin-top: 18px;
        font-size: 16px;
        h3 {
          font-weight: 600;
        }
      }

      .customer_reviews {
        margin-top: 30px;
        display: block;

        h3 {
          text-align: center;
          font-size: 20px;
          color: #444;
          margin-bottom: 16px;
        }

        .customer_review_item {
          border: 2px solid rgba(68, 68, 68, 0.11);
          border-radius: 10px;
          padding: 20px 26px;
          margin-bottom: 18px;
          color: #444;
          box-shadow: 0 10px 74px -32px rgba(0, 0, 0, 0.158);
          transition: all;
          transition-duration: 1000ms;

          &:hover {
            box-shadow: none;
          }

          .customer_name {
            font-size: 18px;
            font-weight: 600;
          }

          .customer_review {
            margin-top: 10px;
            margin-bottom: 3px;
            font-size: 16px;
          }

          .customer_date {
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .card-item {
        background-color: #fff;
        margin-top: 20px;
        border-radius: 14px;
        padding: 20px;
        position: relative;
        box-shadow: 0 10px 74px -32px rgba(0, 0, 0, 0.1);
        transition: all;
        transition-duration: 500ms;

        &:hover {
          box-shadow: none;
        }

        .card-item_thumbnail {
          width: 100%;
          border-radius: 16px;
          margin-bottom: 14px;
        }

        .card-item_city {
          background-color: #0078ff;
          color: #fff;
          position: absolute;
          font-size: 14px;
          top: 0;
          margin-top: 30px;
          margin-left: 8px;
          border-radius: 30px;
          padding: 8px 16px;
          font-weight: 500;
        }

        .card-item_rating {
          font-size: 16px;
          font-weight: 600;
          background-color: #f7f8fd;
          border: 1px solid gainsboro;
          border-radius: 50px;
          padding: 5px 16px;
          text-align: center;
        }

        .card-item_title {
          font-size: 20px;
          margin-top: 16px;

          &:hover {
            color: #61abff;
          }

          a {
            text-decoration: none;
          }
        }

        .card-item_description {
          font-size: 18px;
          text-align: left;
        }
      }
    }
  }
}

footer {
  width: 100%;
  background-color: #fff;
  padding: 18px 12px;
  margin-top: 44px;
  box-shadow: 0 -24px 47px -8px rgba(98, 98, 98, 0.1);

  p {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
}

@media screen and (min-width: 650px) {
  main {
    .content {
      .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 14px;
      }
    }
  }
}

@media screen and (min-width: 750px) {
  header {
    width: 100%;
    padding: 16px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #f7f8fd;
    z-index: 50;

    #hamburger {
      display: none;
    }

    nav {
      position: static;
      z-index: 0;
      top: 0;
      border-radius: 10px;
      background-color: #f7f8fd;
      border: none;
      padding: 0;
      width: auto;
      font-size: 16px;
      box-shadow: none;

      transform: translate(0, 0);
      transition: none;

      .nav_list {
        width: auto;
        display: flex;
        list-style-type: none;
        padding: 0;
        gap: 28px;

        .nav_item {
          margin: 6px 0;
          text-transform: capitalize;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            height: 44px;
            text-decoration: none;
            font-weight: 500;
            color: #333333;
            position: relative;

            &::after {
              content: '';
              width: 100%;
              height: 2px;
              background-color: #313131;
              border-radius: 4px;
              position: absolute;
              left: 0;
              bottom: 0;
              transform: scaleX(0);
              transform-origin: left;
              transition: transform 0.25s ease;
            }

            &:hover::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }

    .open {
      transform: translate(0, 0);
    }
  }

  main {
    .content {
      .restaurant {
        .restaurant_menus {
          .menus_container {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            .foods {
              margin-right: 80px;
            }
          }
        }

        .customer_reviews {
          .customer_reviews_list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0 18px;

            .customer_review_item {
              &:last-child {
                margin-right: 0;
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .hero {
    width: 100%;
    height: 250px;
    padding-top: 80px;
    position: relative;
    z-index: -99;

    img {
      border-radius: 0 0 16px 16px;
      filter: brightness(50%);
    }
  }

  main {
    .main_title {
      padding: 0 20px;
      margin-top: 26px;
      font-size: 22px;
      font-weight: 500;
      position: relative;
      color: #fff;

      p {
        font-size: 20px;
        color: #57a5ff;
        font-weight: 600;
      }
    }

    .content {
      .card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 32px;
        row-gap: 14px;
      }

      .restaurant {
        padding: 20px;

        .restaurant_detail_container {
          background-color: rgba(0, 0, 0, 0.288);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 40px 20px;
          border-radius: 20px;

          .restaurant_name {
            color: white;
            font-size: 48px;
          }

          .restaurant_info {
            margin-top: 20px;
            color: white;

            .city {
              border: 2px solid white;
              background-color: transparent;
              margin-right: 12px;
            }

            .rating {
              border: 2px solid white;
              background-color: transparent;
            }
          }

          .restaurant_detail {
            margin-top: 20px;
            background-color: transparent;
          }

          .restaurant_menus {
            background-color: transparent;
            padding: 0;

            .menus_container {
              ul {
                margin-bottom: 0;
                padding-bottom: 20px;
              }
            }
          }
        }

        .customer_reviews {
          margin-top: 30px;
          background-color: #f7f8fd;
          padding: 50px 80px;
          border-radius: 40px;

          h3 {
            background-color: #f7f8fd;
            display: inline-block;
            font-size: 26px;
          }
        }

        .restaurant_description {
          margin-top: 18px;
          font-size: 16px;
          padding: 0 80px;
          h3 {
            font-weight: 600;
            font-size: 26px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1065px) {
  main {
    .main_title {
      color: #fff;
      padding: 0 20px;
      margin-top: 26px;
      font-size: 26px;
      font-weight: 500;
      position: relative;

      p {
        font-size: 24px;
        color: #57a5ff;
        font-weight: 600;
      }
    }
  }
}
